#mainmenu:hover {
  color: red;
}
@media (max-width: 576px){
  #flex1:hover{
    font-size: 0.7rem;
    color: red;
  }
  #flex2{
    display: none;
  }
  
}

#secondmenu{
  color: black;
}
#secondmenu:hover{
  color: red;
}
#secondmenu2{
  color: black;
}
#secondmenu2:hover{
  color: red;
}

@media (min-width: 500px) and (max-width: 769px){
  .pic1{
    width: 450px;
    height: 300px;
  }
  
  .pic2{
    width: 450px;
    height: 300px;

  }
  .pic3{
    width: 450px;
    height: 300px;
  }
  #secondmenu{
    font-size: 0.8rem;
  }
  #secondmenu2{
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 960px){
  .pic1{
    width: 350px;
    height: 220px;
  }
  
  .pic2{
    width: 170px;
    height: 100px;

  }
  .pic3{
    width: 170px;
    height: 100px;
  }
  #secondmenu2{
    display: none;
  }
  
}

@media (min-width: 960px) and (max-width: 1140px){
  .pic1{
    width: 350px;
    height: 250px;
  }
  
  .pic2{
    width: 170px;
    height: 140px;

  }
  .pic3{
    width: 170px;
    height: 140px;
}
#secondmenu2{
  display: none;
}
}

@media (min-width: 1140px) and (max-width: 1366px){
  .pic1{
    width: 470px;
    height: 300px;
  }
  
  .pic2{
    width: 230px;
    height: 170px;

  }
  .pic3{
    width: 230px;
    height: 170px;
 
  
}
}

  

.ulmainnew{
  font-size: 20px;
  
  
}
h6{
  font-size: 20px;
}
.h6news2{
  font-size: 15px;
}
.h6news3{
font-size: 15px;
}

  
